<%=render '/layouts/header'%>

<div class="user row">

  <div class="card col-10 mt-5 px-0 mx-auto row">
    <div class="card-left">
      <div class="card-left-top ml-5 row">
        <div class="card-left-top-icon mt-3">
        </div>
        <div class="card-left-top-name ml-5 mt-4">
          <%= @user.name %>
        </div>
      </div>
      <div class="card-left-bottom ml-5 mt-3 row">
        <div class="profile row ">
          <p class="col-4">プロフィール：</p>
          <p class="profile-text col-8"><%= @user.profile %></p>
        </div>
        <div class="spot row mt-1">
          <p class="col-4">主な狩場：</p>
          <p class="spot-text col-8"><%= @user.spot %></p>
        </div>
        <div class="favorite row mt-1">
          <p class="col-4">好きな動物：</p>
          <p class="favorite-text col-8"><%= @user.favorite %></p>
        </div>


      </div>
    </div>
    <div class="card-right">
      <div class="card-right-top">
        <div class="card-right-top-content">
          <p class="card-right-top-content-text">Hunt数／<%= current_user.posts.count %></p>
        </div>
      </div>
      <div class="card-right-bottom">
        <%= link_to "プロフィールを編集する", edit_user_path, class:"edit-user" %>
      </div>
    </div>
  </div>

  <div class="text-center pt-5 col-12">
    <h3 class="hunt-title pt-5 pb-3">〜<%= @user.name %>さんのHunt一覧〜</h3>
  </div>

  <div class="hunt row col-10 mx-auto">
    <ul class="hunt-head row mx-auto col-12">
      <li class="hunt-head-left col-6">
        <p class="text-center mt-2">登録動物</p>
      </li>
      <li class="hunt-head-right col-6">
        <p class="text-center mt-2">ミタイ動物</p>
      </li>
    </ul>
    <div class="hunt-contents w-100 h-100 mx-auto">
      <section class="hunt-animal w-100 h-100 mx-auto row">
        <% @posts.each do |post| %>
          <div class="hunt-animal-image col-4">
            <%=link_to post_path(post.id) do %>
              <div class="hunt-animal-image-pic" style="background-image:url(<%= post.image %>)"></div>
            <% end %>
          </div>
        <% end %>
      </section>

      <section class="like-animal w-100 h-100 mx-auto row">
        <% @likes.each do |like| %>
          <div class="like-animal-image col-4">
            <% post = Post.find_by(id: like.post_id) %>
            <%=link_to post_path(post.id) do %>
              <div class="like-animal-image-pic" style="background-image:url(<%= post.image %>)"></div>
            <% end %>
          </div>
        <% end %>
      </section>
    </div>

  </div>
</div>



<%=render '/layouts/footer'%>