<div class="row animal">
  <div class="animal-photo col-5">
    <a href="posts/<%= post.id %>">
      <div class="animal-photo-link-pic"style="background-image:url(<%= post.image %>)"></div>
    </a>
  </div>
  <div class="animal-info col-6">
    <div class="animal-info-animal py-3 pl-3">
        <p class="animal-info-habitat-text">
          名前：<%= post.animal %>
        </p>
    </div>

    <div class="animal-info-habitat py-3 pl-3">
        <p class="animal-info-habitat-text">
          生息：<%= post.habitat %>
        </p>
    </div>

    <div class="animal-info-detail py-3 pl-3">
        <p class="animal-info-detail-text">
          特徴  ：<%= post.detail %>
        </p>
    </div>
  </div>
  <ul class="favbar row">
    <button type="button" class="btn btn-primary ml-5 disabled">ミタイ</button>
    <li class="ml-3 my-auto"><%= post.likes.count %>件</li>
  </ul>
</div>