<%=render '/layouts/header'%>

<div class="new">
  <div class="new-body">
    <div class="new-body-box">
        <%= form_for @post, url:posts_path, method: :post, remote: true do |f| %>
        <h3 class="text-center">
          投稿する
        </h3>
        <div class="mx-auto jutify-content-center">
          <%= f.text_field :animal, placeholder:"名前", class:"form-name w-75", id:"animal" %>
          <%# ajax処理で使う分のパラメータをhidden_fieldで持っておく %>
          <%= hidden_field_tag "action", params[:action] %>
          <%= hidden_field_tag "route", "posts" %>
          <%# 隠したinputタグと紐付けしたdiv %>
          <div class="field image mx-auto w-75">
            <div id="img_field" onClick="$('#upicon').click()">
              <i class="fa fa-image"></i><i class="fas fa-file-upload add"></i>
            </div>
            <%# inputのfileタグは隠す %>
            <%= f.file_field :image, class: "icon", style: "display:none;", id:"upicon"%>
          </div>
          <%# 画像選択後のトリミング画面用div %>
          <div class="overlay" style="display:none;" >
          <div class="crop_modal"></div>
          <div class="close_btn"></div>
          <div class="select_icon_btn">決定</div>
          </div>

          <%= f.text_field :habitat, placeholder:"出逢った場所", class:"form-habitat w-75", id:"habitat" %>
          <%= f.text_area :detail, placeholder:"特徴", class:"form-detail w-75", id:"detail" %>
          <%# <%= f.check_box :wild, class:"form-detail w-75" %>
          <%# <%= label_tag :wild, "野生" %>
          <%= f.submit "SENT", class:"formsubmit btn btn-primary center-block w-75" %>
        </div>
      <% end %>
    </div>
  </div>
</div>


<%=render '/layouts/footer'%>