<%=render '/layouts/header'%>
<div class="show row">
  <div class="animal mt-5">
    <div class="animal-name row py-auto pl-3">
      <p class="col-2"></p>
      <p class="animal-name-text col-8">
        <%= @post.animal %>
      </p>
      <p class="col-1"></p>
      <% if user_signed_in? && current_user.id == @post.user_id %>
      <nav class="navbar navbar-light col-1">
        <button class="navbar-toggler animal-name-menu col-2" data-toggle="collapse" data-target="#editMenu">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div id="editMenu" class="collapse navbar-collapse navbar-contents pt-0">
          <ul class="mt-1">
            <li class=""><%=link_to "編集",edit_post_path,class:"" %></li>
            <li class=""><%=link_to "削除",post_path, method: :delete, data: {confirm: "投稿「#{@post.animal}」を削除します。よろしいですか？"} %></li>
          </ul>
        </div>
      </nav>
      <% end %>
    </div>
    <div class="animal-photo">
      <div class="animal-photo-pic"style="background-image:url(<%= @post.image %>)">
      </div>
    </div>
    <div class="animal-info mt-2">
      <div class="animal-info-habitat py-4 pl-3">
        <p class="animal-info-habitat-text">
          生息：<%= @post.habitat %>
        </p>
      </div>
      <div class="animal-info-detail py-4 pl-3">
        <p class="animal-info-detail-text">
          特徴：<%= @post.detail %>
        </p>
      </div>
      <div class="animal-info-hunter py-4 pl-3">
        <p class="animal-info-hunter-text">
          HUNTER：<%= link_to @post.user.name, user_path(@post.user) %> さん
        </p>
      </div>
    </div>
    <div class="show-fav row">
      <ul class="col-12 col-md-6 favbar row py-2 pl-5", id="likes_buttons">
        <%= render partial: 'likes/like', locals: { post: @post, like: @like} %>
      </ul>
      <ul class="favbar row col-6 py-2 d-none d-md-block">
        <p class="comment-btn px-5 mt-3 btn btn-outline-success">コメント表示</p>
      </ul>
    </div>
  </div>

  <%= render partial: 'comment', locals: { comment: @comment, post: @post, comments: @comments}%>

</div>

<%=render '/layouts/footer'%>