<div class="header">
  <div class="header-menu row">
    <nav class="navbar navbar-light col-2">
      <button class="navbar-toggler" data-toggle="collapse" data-target="#navbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div id="navbar" class="collapse navbar-collapse navbar-contents pt-0">
        <ul class="ml-3 mt-3">
          <li class="mb-2"><%=link_to "マイ図鑑","/users/#{current_user.id}",class:"text-light" %></li>
          <li class="mb-2"><%=link_to "動物登録",new_post_path,class:"text-light" %></li>
          <li class="mb-2"><%=link_to "検索",new_post_path,class:"text-light" %></li>
          <% if user_signed_in? %>
            <li class=""><%=link_to "ログアウト", destroy_user_session_path, method: :delete, class:"text-light" %></li>
          <% else %>
            <li class="mb-2"><%=link_to "ログイン",new_user_session_path,class:"text-light" %></li>
            <li class=""><%=link_to "新規登録",new_user_registration_path,class:"text-light" %></li>
          <% end %>
        </ul>
      </div>
    </nav>
    <div class="col-8 header-menu-title">
      <%=link_to "Animal Hunter",root_path,class:"py-auto header-title" %>
    </div>
    <div class="col-2"></div>
  </div>
</div>